Deliverables/5) 08 Dec 2015/dfdf.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ProcessRepos" type="ProcessReposType" />
  <xsd:complexType name="ProcessReposType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="tProcessDefinition" type="tProcessDefinitionType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="tProcessDefinitionType">
    <xsd:sequence>
      <xsd:element name="Documentation" type="xsd:string" />
      <xsd:element name="ProcessContent" type="xsd:string" />
      <xsd:element name="Intention" type="IntentionType" />
      <xsd:element name="InitialContext" type="InitialContextType" />
      <xsd:element name="Weight" type="xsd:decimal" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="type" type="xsd:string" />
    <xsd:attribute name="targetNamespace" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="InitialContextType">
    <xsd:sequence>
      <xsd:element name="Documentation" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="Context" type="ContextType" />
      <xsd:element name="ContextRule" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContextType">
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="targetNamespace" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="IntentionType">
    <xsd:sequence>
      <xsd:element name="Documentation" type="xsd:string" />
      <xsd:element name="Definition" type="DefinitionType" />
      <xsd:element name="ContainedIntentions" type="ContainedIntentionsType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="type" type="xsd:string" />
    <xsd:attribute name="targetNamespace" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="ContainedIntentionsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Intention" type="IntentionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IntentionType">
    <xsd:sequence>
      <xsd:element name="Documentation" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="type" type="xsd:string" />
    <xsd:attribute name="targetNamespace" type="xsd:string" />
  </xsd:complexType>
  <xsd:complexType name="DefinitionType">
    <xsd:sequence>
      <xsd:element name="Machine" type="xsd:string" />
      <xsd:element name="SensorClasses" type="xsd:int" />
      <xsd:element name="AverageOperatorNeeded" type="xsd:int" />
    </xsd:sequence>
    <xsd:attribute name="definitionLanguage" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>