Deliverables/5) 08 Dec 2015/ProcessReposSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ProcessData" type="ProcessDataType" />
  <xsd:complexType name="ProcessDataType">
    <xsd:sequence>
		<xsd:element maxOccurs="unbounded" name="ProcessDefinition" type="ProcessDefinitionType" />
    </xsd:sequence>
    <xsd:attribute name="primeintention" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="ProcessDefinitionType">
    <xsd:sequence>
		<xsd:element name="Intention" type="IntentionType" />
		<xsd:element name="Context" type="ContextType" />
		<xsd:element name="Process" type="ProcessType" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="targetNamespace" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="ProcessType">
    <xsd:sequence>
		<xsd:element name="Identifier" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string" />
    <xsd:attribute name="engine" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="ContextType">
    <xsd:sequence>
		<xsd:element maxOccurs="unbounded" name="Required" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="convalidator" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="IntentionType">
    <xsd:attribute name="intvalidator" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>