CESExecutorService/WebContent/wsdl/cesexecutorservice_schema2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:ns1="http://docs.oasis-open.org/tosca/ns/2011/12" xmlns:tns="http://www.uni-stuttgart.de/iaas/ipsm/v0.2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.uni-stuttgart.de/iaas/ipsm/v0.2/" version="1.0">
<xs:import namespace="http://docs.oasis-open.org/tosca/ns/2011/12" schemaLocation="cesexecutorservice_schema5.xsd"/>
<xs:element name="ContextSet" type="tns:tContexts"/>
<xs:element name="InformalProcessDefinition" type="tns:tInformalProcessDefinition"/>
<xs:element name="InformalProcessInstance" type="tns:tInformalProcessInstance"/>
<xs:element name="InstanceDescriptor">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:tInstanceDescriptor">
          <xs:sequence/>
          <xs:anyAttribute namespace="##other" processContents="skip"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
<xs:element name="OperationMessage" type="tns:tOperationMessage"/>
<xs:element name="OrganizationalDefinitions" type="tns:tOrganizationalDefinitions"/>
<xs:element name="ProcessDefinition" type="tns:tProcessDefinition"/>
<xs:element name="ProcessDefinitions" type="tns:tProcessDefinitions"/>
<xs:element name="ProcessInstance" type="tns:tProcessInstance"/>
<xs:complexType abstract="true" name="tBaseType">
    <xs:sequence>
      <xs:element name="Documentation" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="targetNamespace" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="tIntention">
    <xs:complexContent>
      <xs:extension base="tns:tInteractiveEntity">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Definition" type="tns:tDefinition"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SubIntentions" type="tns:tSubIntentions"/>
          <xs:element minOccurs="0" name="ActiveStategy" type="tns:tStrategy"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Stategies" type="tns:tStrategies"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tInteractiveEntity">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Editors" type="tns:tParticipantList"/>
          <xs:element minOccurs="0" name="Viewers" type="tns:tParticipantList"/>
          <xs:element minOccurs="0" name="Owners" type="tns:tParticipantList"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tDefinition">
    <xs:sequence>
      <xs:element name="DefinitionContent" type="tns:tContent"/>
    </xs:sequence>
    <xs:attribute name="definitionLanguage" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="tContent">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tInformalProcessInstance">
    <xs:complexContent>
      <xs:extension base="tns:tProcessInstance">
        <xs:sequence>
          <xs:element name="ResourceModelInstance" type="tns:tResourceModelInstance"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tProcessInstance">
    <xs:complexContent>
      <xs:extension base="tns:tProcessDefinition">
        <xs:sequence>
          <xs:element name="InstanceDescriptor" type="tns:tInstanceDescriptor"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tProcessDefinition">
    <xs:complexContent>
      <xs:extension base="tns:tStrategy">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProcessContent" type="tns:tContent"/>
        </xs:sequence>
        <xs:attribute name="processType" type="xs:anyURI"/>
        <xs:attribute name="id" type="xs:ID"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tStrategy">
    <xs:complexContent>
      <xs:extension base="tns:tInteractiveEntity">
        <xs:sequence>
          <xs:element name="TargetIntention" type="tns:tIntention"/>
          <xs:element maxOccurs="unbounded" name="Definition" type="tns:tDefinition"/>
          <xs:element minOccurs="0" name="Intentions" type="tns:tIntentions"/>
          <xs:element minOccurs="0" name="OrganizationalCapabilities" type="tns:tOrganizationalCapabilities"/>
          <xs:element minOccurs="0" name="InitialContexts" type="tns:tContexts"/>
          <xs:element minOccurs="0" name="DesiredFinalContexts" type="tns:tContexts"/>
          <xs:element minOccurs="0" name="AlternativeFinalContexts" type="tns:tContexts"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tResourceModelInstance">
    <xs:sequence>
      <xs:element name="Definitions" type="ns1:tDefinitions"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF"/>
    <xs:attribute name="targetNamespace" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="tParticipantList">
    <xs:complexContent>
      <xs:extension base="ns1:tNodeTemplate">
        <xs:sequence/>
        <xs:anyAttribute namespace="##other" processContents="skip"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tRelationshipDefinition">
    <xs:complexContent>
      <xs:extension base="ns1:tRelationshipTemplate">
        <xs:sequence/>
        <xs:anyAttribute namespace="##other" processContents="skip"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tInstanceDescriptor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Properties" type="tns:tProperties"/>
    </xs:sequence>
    <xs:attribute name="startTime" type="xs:time"/>
    <xs:attribute name="endTime" type="xs:time"/>
    <xs:attribute name="instanceState" type="xs:string"/>
    <xs:attribute name="instanceLocation" type="xs:anyURI"/>
    <xs:attribute name="sourceModel" type="xs:anyURI"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="targetNamespace" type="xs:string"/>
    <xs:anyAttribute namespace="##other" processContents="skip"/>
  </xs:complexType>
<xs:complexType name="tProperties">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tIntentions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Intention" type="tns:tIntention"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tOrganizationalCapabilities">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="OrganizationalCapability" type="tns:tOrganizationalCapability"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tOrganizationalCapability">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element name="CapabilityType" type="ns1:tCapabilityType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tOrganizationalDefinitions">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationalIntentions" type="tns:tIntentions"/>
          <xs:element minOccurs="0" name="OrganizationallResources" type="ns1:tDefinitions"/>
          <xs:element minOccurs="0" name="OrganizationalProcesses" type="tns:tOrganizationalProcesses"/>
          <xs:element minOccurs="0" name="OrganizationalProcessInstances" type="tns:tProcessInstances"/>
          <xs:element minOccurs="0" name="OrganizationalCapabilities" type="tns:tOrganizationalCapabilities"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tOrganizationalProcesses">
    <xs:sequence>
      <xs:element name="ProcessDefinition" type="tns:tProcessDefinition"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tProcessInstances">
    <xs:sequence>
      <xs:element name="ProcessInstance" type="tns:tProcessInstance"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tRelevanceRelationship">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element name="MatchingRelationships" type="tns:tMatchingRelationships"/>
          <xs:element name="RelevantResource" type="ns1:tNodeTemplate"/>
          <xs:element maxOccurs="unbounded" name="InvolvedResource" type="ns1:tNodeTemplate"/>
        </xs:sequence>
        <xs:attribute name="inverseDependency" type="xs:boolean"/>
        <xs:attribute name="weight" type="xs:float"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tMatchingRelationships">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MatchingRelationships" type="ns1:tRelationshipTemplate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tInteraction">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element name="Source" type="xs:string"/>
          <xs:element name="Target" type="xs:string"/>
          <xs:element name="Action" type="xs:string"/>
          <xs:element minOccurs="0" name="Content" type="tns:tContent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tRelevantCapability">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element name="ExposingResource" type="ns1:tNodeTemplate"/>
        </xs:sequence>
        <xs:attribute name="weight" type="xs:float"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tContext">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="ContextDefinition" type="tns:tDefinition"/>
          <xs:element minOccurs="0" name="ContainedContexts" type="tns:tContexts"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tContexts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Context" type="tns:tContext"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tSubIntention">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Intention" type="tns:tIntentions"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tContextExpression">
    <xs:complexContent>
      <xs:extension base="tns:tBaseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Condition" type="tns:tDefinition"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tFunctionalCapability">
    <xs:complexContent>
      <xs:extension base="tns:tOrganizationalCapability">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProvidingResources" type="tns:tProvidingResources"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tProvidingResources">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProvidingResource" type="xs:QName"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tCrossFunctionalCapability">
    <xs:complexContent>
      <xs:extension base="tns:tOrganizationalCapability">
        <xs:sequence>
          <xs:element name="FunctionalCapabilities" type="tns:tFunctionalCapabilities"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tFunctionalCapabilities">
    <xs:sequence>
      <xs:element name="FunctionalCapability" type="tns:tFunctionalCapability"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tInformalProcessDefinition">
    <xs:complexContent>
      <xs:extension base="tns:tProcessDefinition">
        <xs:sequence>
          <xs:element name="ResourceModel" type="tns:tResourceModel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="tResourceModel">
    <xs:sequence>
      <xs:element name="Definitions" type="ns1:tDefinitions"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF"/>
    <xs:attribute name="targetNamespace" type="xs:anyURI"/>
  </xs:complexType>
<xs:complexType name="tRelationshipDefinitions">
    <xs:sequence>
      <xs:element name="RelationshipDefinition" type="tns:tRelationshipDefinition"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tPreconditionerRelationships">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Relationship" type="ns1:tRelationshipTemplate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tProcessDefinitions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProcessDefinition" type="tns:tProcessDefinition"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tOperationMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreconditionerRelationships" type="tns:tPreconditionerRelationships"/>
      <xs:element minOccurs="0" name="Dependencies" type="tns:tDependencies"/>
      <xs:element minOccurs="0" name="InstanceLocation" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="ErrorDefinition" type="xs:string"/>
      <xs:element minOccurs="0" name="InstanceState" type="xs:string"/>
      <xs:element name="TargetResource" type="ns1:tNodeTemplate"/>
      <xs:element minOccurs="0" name="InformalProcessInstance" type="tns:tInformalProcessInstance"/>
      <xs:element minOccurs="0" name="OtherParameters" type="tns:tOtherParameters"/>
    </xs:sequence>
    <xs:attribute name="processId" type="xs:string"/>
    <xs:attribute name="operationType" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="tDependencies">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Dependency" type="ns1:tNodeTemplate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tOtherParameters">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tResourceDefinitions">
    <xs:sequence>
      <xs:element name="Resource" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tCapabilityProperties">
    <xs:sequence>
      <xs:element name="ProvidingResources" type="tns:tResourceReferences"/>
      <xs:element name="DesiredResource" type="xs:QName"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tResourceReferences">
    <xs:sequence>
      <xs:element name="ResourceDefinition" type="ns1:tNodeTemplate"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tRequiremens">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Requirement" type="xs:QName"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tDeploymentDescriptor">
    <xs:sequence/>
    <xs:attribute name="runnableUri" type="xs:anyURI"/>
    <xs:attribute name="executionEnvironment" type="xs:anyURI"/>
    <xs:attribute name="runnableName" type="xs:string"/>
  </xs:complexType>
<xs:complexType name="tSubIntentions">
    <xs:sequence>
      <xs:element name="SubIntentionRelations" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="SubIntention" type="tns:tSubIntention"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tResourceInstances">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="tStrategies">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Strategy" type="tns:tStrategy"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tStructuredProperties">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tProcessContent">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
